<ul class="sidenav" id="mobile-demo">
  <li class="<%= 'active' if params[:controller] == 'instagram' %>"><a href="/instagram"><%= fa_icon "instagram" %> Instagram</a></li>
  <li class="<%= 'active' if params[:action] == 'bio' %>"><a href="/bio">Bio</a></li>
  <li><a href="mailto:wildernessdesignsutah@gmail.com">Contact</a></li>
</ul>
<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo hide-on-small-only">Wilderness Designs Utah</a>
    <a href='/' class='brand-logo hide-on-med-and-up' style='display: flex; justify-content: center; align-items: center; height: 100%;'>
      <%= image_tag(image_path('wdu-long-logo-with-text'), class: 'responsive-img', width: 500) %>
    </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="<%= 'active' if params[:controller] == 'instagram' %>"><a href="/instagram"><%= fa_icon "instagram" %> Instagram</a></li>
        <li class="<%= 'active' if params[:action] == 'bio' %>"><a href="/bio">Bio</a></li>
        <li><a href="mailto:wildernessdesignsutah@gmail.com" target='_blank'>Contact</a></li>
      </ul>
    </div>
  </nav>
</div>
