<h1>Admin Access</h1>
<hr />

<h3>Add New Photo</h3>
<%= render('form') %>

<hr />
<h3>Site Photos</h3>

<% if @photos.any? %>
  <div class='row'>
    <div class='gallery'>
      <% @photos.each do |photo| %>
        <div class='col s12 m4'>
          <a href="<%= photo.attachment.fullpath %>" data-caption="<%= photo.caption %>">
            <%= cl_image_tag(photo.attachment.path, width: 200, height: 200, :crop => :fill, class: 'responsive-img work-photo') %>
          </a>
          <div class='center'>
            <%= link_to 'Edit', edit_photo_path(photo) %>
            <%= link_to 'Delete', photo_path(photo), method: :delete, data: {confirm: 'Really Delete?'} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h5>No Photos Yet.</h5>
<% end %>