<div class='center'>
  <h3>Our Work</h3>
	<div class='see-all-link'>
		<strong>
			<a href=<%= ENV['INSTAGRAM_URL'] %> target='_blank'>
				<%= fa_icon "instagram" %>
				See All Of Our Work On Instagram
			</a>
		</strong>
	</div>
  <div class='row'>
    <div class="gallery">
		  <% @instagram.each do |instagram| %>
		    <% images = instagram.images %>
		    <div class='col s6 m3'>
		      <a href="<%= images.standard_resolution.url %>" data-caption="<%= instagram.caption['text'] %>">
		        <%= image_tag(images.thumbnail.url, class: 'responsive-img work-photo') %>
		      </a>
		    </div>
		  <% end %>
		</div>
	</div>
</div>