<!DOCTYPE html>
<html>
<head>
  <title>Ckslc</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= cloudinary_js_config %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <!-- Prelang: Analytics / Google Analytics -->
  <%= analytics_init if Rails.env.production? %></head>
<body>
  <%= render('shared/nav') %>
  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>">
        <%= value %>
      </div>
    <% end %>
  <% end %>
  <main>
    <div class='row center'>
      <div class='col s12 m4 logo-wrapper hide-on-small-only'>
        <%= image_tag('creativekingdom2Black.png', class: 'responsive-img') %>
        <h5>Custom Handmade Furniture</h5>
      </div>
      <div class='col s12 m7 offset-m1 right'>
        <%= yield %>
      </div>
    </div>
  </main>
  <%= render('shared/footer') %>
</body>
</html>